/* Alt + z-----para ajustar el Lorem en la página */
header{
    margin: 30px;
    padding: 15px;
    text-align: center;
    background:#cccccc url(assets/imagenes/wall-21534_1280.jpg) repeat-y;
    background-size: contain;
    border: 1px dashed #0000ff;
  /*Por defecto el navegador le da un color negro al borde*/  
    /* border-style: dotted; */
    /* En el sigte el / es para darle forma elíptica */
    border-radius: 20px / 5px ;
    
    outline: dashed #ff0000 5px;
    /* El sigte es la separación entre los bordes */
    outline-offset: 10px;
    transform: perspective(700px) rotate3d(0,1,0,45deg);
    

}

.Shadow{
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #cccccc;
    border: 1px solid #0000ff;
    /* Las propiedades estan en el orden: Desplaz. horizon(x), Desplaz. vert(y), Distancia de difuminación, y inset es
    para ingresar la sombra al elemento, aspecto de profundidad */
    box-shadow: rgb(150,150,150) 10px 10px 10px inset;
}
img{
    border: 4px solid #ff0000;
    padding: 10px;
    margin: 40px;
    background-color: rgb(
        46, 10, 113);
    }
/* Este es el círculo final */
.contenedor {
    margin: 200px;
    height: 200px;
    width: 200px;
    background-color: #9999ff;
    border-radius: 100px;
}

.title{
    /* el estilo, peso del texto(weight), tamaño, familia(tipo de letra) */
    font: italic bold 30px verdana, sans-serif;
    color: #ff0000;
    /* text-shadow = sombra para el texto */
    text-shadow: #9999ff -3px -3px ;

}

.text{
    background-color: #9999ff;
    word-spacing: 10px;
    width: 600px;
    height: 30px;
    overflow: auto;
}
/* Para que el enlace acepte los valores del margin, tiene que tener definido un width */
/* Los valores del margin son medidas como las manecillas del reloj */
.enlace{
    display: block;
    margin: 20px auto 40px;
    width: 100px;
    text-decoration: none;
  
}
.text1{
    font-size: 30px ;
    /* inline-block-----muestra el elemento en la misma línea y con un tamaño personalizado */
    display: inline-block;

}



